{% extends 'app/base.html' %}
{% load static %}
{% block title %}Email{% endblock %}

{% block main-content %}
<div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Reset password completed!</h3>
                <hr>
                <iframe src="https://giphy.com/embed/SUL0Jp43e6CTdBLesr" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
            </div>
        </div>
</div>
{% endblock main-content %}