{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change password done{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
        <h3>Welcome <span class="text-capitalize">{{ request.user.username|capfirst }}</span></h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="#" class="btn btn-primary">Change password done</a></li>
                </ul>
            </div>

            <div class="col-sm-9 offset-m1 text-center">
                    <h3>Password changed successfully!</h3>
                    <div>
                    <iframe src="https://giphy.com/embed/vViFKLAOQdDlS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
            </div>
        </div>
    </div>
{% endblock main-content %}